@model FptLearningSystem.Models.ViewModels.TopicAndCourseViewModel
@using FptLearningSystem.Extensions

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Edit Topics</h2>
<br />


<partial name="_StatusMessage" model="Model.StatusMessage" />


<div class="border backgroundWhite row shadowNew">
    <div class="col-8 border-right">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Topic.CourseId" />
            <input type="hidden" asp-for="Topic.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Topic.CourseId" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <select id="ddlTopicList" asp-for="Topic.CourseId" disabled asp-items="Model.CourseList.ToSelectListItem(Model.Topic.CourseId)" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Topic.Name" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Topic.Name" class="form-control" />
                </div>
                <span asp-validation-for="Topic.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Topic.Description" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Topic.Description" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-3">
                    <partial name="_EditAndBackToListBUtton" model="Model.Topic.Id" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-3 offset-1">
        @if (Model.TopicList.Count() > 0)
        {
            <p>Existing Topic: </p>
            <div id="TopicList">
                <ul class="list-group"></ul>
            </div>
        }
    </div>



</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function updateCourseList() {
            var courseSelected = document.getElementById("ddlTopicList").value;
            $list = $('#TopicList');
            $.ajax({
                url: '/Administrator/Topics/GetTopic/' + courseSelected,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append(' <ul class="list-group"> ');
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text + '</li>');
                    }
                    $list.append('</ul>');
                }
            });
        }
        $(document).ready(function () {
            updateCourseList();
        });
    </script>


}

